.element__counter {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 10px;
  min-height: 13px;
}