.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 320px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin: 28px auto 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 581px;
    margin-top: 47px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
    margin-top: 74px;
  }
}