.popup__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (min-width: 320px) {
  .popup__description {
    margin: 30px auto 0 auto;
    max-width: 238px;
    min-height: 27px
  }
}

@media screen and (min-width: 768px) {
  .popup__description {
    max-width: 330px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__description {
    max-width: 358px;
  }
}