.profile__add {
  margin: 0;
  background-color: black;
  border: none;
  padding: 0;
  cursor: pointer;
  /* object-fit: fill; */
}

.profile__add:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) {
  .profile__add {
    background-image: url(../../../images/Add-Button.svg);
    width: 282px;
    height: 50px;
    margin-top: 36px;
  }
}

@media screen and (min-width: 768px) {
  .profile__add {
    width: 150px;
    margin-top: 0;
  }
}