.button__add {
  margin: 0;
  background-color: black;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button__add:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) {
  .button__add {
    background-image: url(../../../images/Add-Button.png);
    width: 282px;
    height: 50px;
    margin-top: 36px;
  }
}

@media screen and (min-width: 768px) {
  .button__add {
    background-image: url(../../../images/Add-Button_1280.png);
    width: 150px;
    height: 50px;
  }
}