.element__heart {
  margin: 0;
  background-image: url(../../../../images/Heart-disabled.png);
  width: 22px;
  height: 19px;
  color: black;
  display: flex;
  align-self: center;
  cursor: pointer;
}

.element__heart:hover {
  background-image: url(../../../../images/Heart-hover.png);
}

.element__heart:active {
  background-image: url(../../../../images/Heart-active.png);
}
